* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

button,
fieldset {
    border: none;
}


.hidden {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
}

.undotted {
    list-style-type: none;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.btn {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    background: #95459A;
    color: #FFFFFF;
    padding: 16px 55px;
}

/* header */

.header {
    display: flex;
    align-items: center;
    margin-top: 33px;
    margin-bottom: 33px;
}

.header__logo {
    margin-right: 25px;
}

.header__list {
    display: flex;
    column-gap: 15px;
}

.header__list--left {
    margin-right: auto;
}

.header__list-link {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #333333;
}

.header__list-link_phone {
    font-weight: 800;
    color: #95459A;
}

.header__list-link_contact,
.contact__form-btn {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    padding: 11px 40px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #008752;
}

/* footer */

.footer {
    background: #00559D;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    width: 380px;
    background: #008752;
    padding-top: 56px;
    padding-left: 44px;
}


.footer__contact-title {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    padding-bottom: 23px;
}

.footer__contact-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding-bottom: 23px;
}

.footer__contact-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    padding-bottom: 23px;
    color: #FFFFFF;
}

.footer__contact-link {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    padding: 11px 40px;
    max-width: max-content;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 23px;
    background: #95459A;
}

.footer__social {
    display: flex;
    align-items: center;
}

.footer__social-title {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 130%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-right: auto;
}

.footer__social-list {
    display: flex;
    align-items: center;
    column-gap: 16px;
}